<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <link href="style.css" rel="stylesheet" />
  <title>VAMS Checklist</title>
  <link rel="icon" href="https://afiqrostam.github.io/vams-checklist/icon.png" size="64x64" type="image/png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>

<body class="bg-light pt-md-5">
  <div id="alert" class="container fixed-bottom p-1">
    <div :id="data.id" v-for="data in datas" :key="data.id"
      v-bind="{ 'class': 'lh-sm my-1 alert text-light opacity-85 alert-dismissible fade show pre-line '+data.classfix }">
      {{ data.text }}
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"
        @click="remove(data)"></button>
    </div>
  </div>
  <div id="check" class="container p-1">
    <div class="min-vh-95 d-flex align-items-center justify-content-center" v-if="loaded == false">
      <div class="spinner-grow text-dark" role="status" v-show="broken == false">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="fs-1 text-center lead" v-show="broken == true">
        <i class="bi bi-cloud-lightning-rain big"></i>
        <p>Oh no! Something broken</p>
      </div>
    </div>
    <div v-else>
      <div class="alert alert-dismissible fade show mb-2">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <div class="p-3 small">
          <ul class="list-unstyled px-1 m-0">
            <li>When updating, the tickbox on each checklist items indicates:</li>
            <li><i class="bi bi-circle pe-2"></i><span>unanswered checklist;</span></li>
            <li><i class="bi bi-circle text-info pe-2"></i><span>unanswered checklist synced to VAMS;</span></li>
            <li><i class="bi bi-check-circle pe-2"></i><span>answered checklist;</span></li>
            <li><i class="bi bi-check-circle-fill text-info pe-2"></i><span>answered checklist synced to VAMS;</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="vstack gap-2" v-if="form != true">
        <button @click="loadForm" type="button" class="btn btn-primary" v-if="data.length != 0 " :id="dt['ock_code']"
          v-for="dt in data" :key="dt['ock_code']">
          {{ dt['trunc_ock_startdate'] + ' ' + dt['state'] + ' (' + dt['ock_status_desc'] + ')'}}
        </button>
        <button @click="newForm" type="button" class="btn btn-primary" v-if="new_form" id="new_checklist">New
          DVR</button>
      </div>
    </div>
  </div>

  <div id="form">
    <div id="form-container" class="container p-1 mb-5" v-if="loaded == true">
      <div class="min-vh-95 d-flex align-items-center justify-content-center" v-if="Object.keys(data).length == 0">
        <div class="spinner-grow text-dark" role="status" v-show="broken == false">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="fs-1 text-center lead" v-show="broken == true">
          <i class="bi bi-cloud-lightning-rain big"></i>
          <p>Oh no! Something broken</p>
        </div>
      </div>
      <div class="card" v-else>
        <div class="accordion accordion-flush" :id="data.id">
          <div class="accordion-item" v-for="( activity, index ) in data.activities" :key="activity.id">
            <div class="accordion-header" :id="'h'+activity.id">
              <button :class="[ index == 0 ? 'accordion-button py-3' : 'accordion-button py-3 collapsed']" type="button"
                data-bs-toggle="collapse" aria-expanded="false"
                v-bind="{ 'data-bs-target': '#c'+activity.id, 'aria-controls': 'c'+activity.id }" @click="loadMeta()">
                <span class="h6 p-0 m-0">{{ activity.act_note}}</span>
              </button>
            </div>
            <div
              v-bind="{ 'id': 'c'+activity.id, 'aria-labelledby': 'h'+activity.id, 'data-bs-parent': '#'+activity.parentid }"
              :class="[ index == 0 ? 'accordion-collapse collapse show' : 'accordion-collapse collapse']">
              <template v-if="activity.groups !== undefined">
                <div class="accordion accordion-flush" :id="activity.id">
                  <div class="accordion-item" v-for="group in activity.groups" :key="group.id">
                    <div class="accordion-header" :id="'h'+group.id">
                      <button class="accordion-button py-2 bg-light collapsed" type="button" data-bs-toggle="collapse"
                        aria-expanded="false"
                        v-bind="{ 'data-bs-target': '#c'+group.id, 'aria-controls': 'c'+group.id }" @click="loadMeta()">
                        <span class="w-100">{{ group.group_label}}</span>
                        <span class="small fw-light pe-2 text-nowrap">( {{ getGroupCompleted(group) }} of {{
                          group.items.length}} done )</span>
                      </button>
                    </div>
                    <div
                      v-bind="{ 'id': 'c'+group.id, 'aria-labelledby': 'h'+group.id, 'data-bs-parent': '#'+group.parentid }"
                      class="accordion-collapse collapse">
                      <template v-if="group.items !== undefined">
                        <div class="accordion accordion-flush" :id="group.id">
                          <div :class="[ item.ack_type == 14 ? 'accordion-item d-none' : 'accordion-item']"
                            v-for="item in group.items" :key="item.ack_code">
                            <div class="accordion-body py-2 row">
                              <div class="col" v-if="['03','04','13','14','15'].indexOf(item.ack_type) != -1">
                                <span>{{ item.ack_desc }}</span>
                                <p v-if="item.ack_taskchecklistcode_comments != ''" class="pre-line m-0">{{
                                  item.ack_taskchecklistcode_comments }}</p>
                              </div>
                              <div class="col-md hstack gap-2 fw-light"
                                v-if="['03','04','13','14','15'].indexOf(item.ack_type) != -1">
                                <input v-if="item.ack_type == 13" type="date"
                                  class="form-control border-0 border-bottom" :id="'FREE'+item.ack_code"
                                  autocomplete="off" v-model="item.ack_checklistdate" @input="snycItems(item)"
                                  :disabled="data.status">
                                <input v-if="item.ack_type == 14" type="datetime-local"
                                  class="form-control border-0 border-bottom" :id="'FREE'+item.ack_code"
                                  autocomplete="off" v-model="item.ack_checklistdatetime" @input="snycItems(item)"
                                  :disabled="data.status">
                                <input v-if="item.ack_type == 15" type="text"
                                  class="form-control border-0 border-bottom" :id="'FREE'+item.ack_code"
                                  autocomplete="off" v-model="item.ack_freetext" @input="snycItems(item)"
                                  :disabled="data.status || ['Unit/Fleet No','Registration No','Worker Name'].indexOf(item.ack_desc) != -1">
                                <select v-if="item.ack_type == 03" type="checkbox"
                                  class="form-select border-0 border-bottom" :id="'FREE'+item.ack_code"
                                  autocomplete="off" v-model="item.ack_finding" @change="snycItems(item)"
                                  :disabled="data.status">
                                  <option disabled value="">select one</option>
                                  <option v-for="option in item.ack_possiblefindings" :value="option.value">
                                    {{ option.text }}
                                  </option>
                                </select>
                                <div class="input-group" v-if="item.ack_type == '04'">
                                  <input type="number" v-model="item.ack_value" @input="snycItems(item)"
                                    class="form-control border-0 border-end border-bottom" :placeholder="item.ack_desc"
                                    :disabled="data.status" :id="'FREE'+item.ack_code">
                                  <span class="input-group-text border-0 bg-light border-bottom">{{ item.ack_uom
                                    }}</span>
                                </div>
                                <button type="button" :id="'REFRESH'+item.ack_code" v-show="!data.status"
                                  :class="[ ['Unit/Fleet No','Registration No','Worker Name'].indexOf(item.ack_desc) != -1 ? 'btn btn-sm rounded-circle btn-outline-secondary d-none' : 'btn btn-sm rounded-circle btn-outline-secondary']"
                                  class="btn btn-sm rounded-circle btn-outline-secondary"
                                  @click="resetItems(item,$event)"><i class="bi bi-arrow-repeat"></i></button>
                                <i class="bi bi-circle pe-2"
                                  v-if="!getItemCompleted(item) && !item.updated && !item.process"></i>
                                <i class="bi bi-circle-fill pe-2"
                                  v-if="!getItemCompleted(item) && item.updated && !item.process"></i>
                                <i class="bi bi-circle text-info pe-2"
                                  v-if="!getItemCompleted(item) && item.updated && item.process"></i>
                                <i class="bi bi-check-circle pe-2"
                                  v-if="getItemCompleted(item) && !item.updated && !item.process"></i>
                                <i class="bi bi-check-circle-fill pe-2"
                                  v-if="getItemCompleted(item) && item.updated && !item.process"></i>
                                <i class="bi bi-check-circle-fill text-info pe-2"
                                  v-if="getItemCompleted(item) && item.updated && item.process"></i>
                              </div>
                              <div class="hstack gap-2 py-2"
                                v-if="['03'].indexOf(item.ack_type) != -1 && ['','Z028','Z030'].indexOf(item.ack_finding) == -1">
                                <div class="w-100 form-floating me-auto">
                                  <textarea :ref="'NOTES'+item.ack_code" :id="'NOTES'+item.ack_code"
                                    class="form-control" :disabled="data.status" v-model="item.ack_notes"
                                    @input="snycItems(item,$event)" placeholder="..."></textarea>
                                  <label class="ps-4" :for="'NOTES'+item.ack_code">Notes</label>
                                </div>
                                <button :id="'PHOTO'+item.ack_code" type="button"
                                  class="btn btn-sm btn-outline-primary">
                                  <i class="bi bi-camera fs-4"></i>
                                </button>
                              </div>
                              <div class="hstack gap-2 fw-light" v-if="['01'].indexOf(item.ack_type) != -1">
                                <div class="" v-if="item.ack_type == '01'">
                                  <input type="checkbox" class="btn-check" :id="'FREE'+item.ack_code" autocomplete="off"
                                    v-model="item.ack_completed" true-value="+" false-value="-" :disabled="data.status"
                                    @change="snycItems(item)">
                                  <label class="btn btn-outline-primary d-block" :for="'FREE'+item.ack_code"><i
                                      class="bi bi-check-lg"></i></label>
                                </div>
                                <div class="col" v-if="['01'].indexOf(item.ack_type) != -1">
                                  <span>{{ item.ack_desc }}</span>
                                  <p v-if="item.ack_taskchecklistcode_comments != ''" class="pre-line m-0">{{
                                    item.ack_taskchecklistcode_comments }}</p>
                                </div>
                                <button type="button" :id="'REFRESH'+item.ack_code" v-show="!data.status"
                                  class="btn btn-sm rounded-circle btn-outline-secondary"
                                  @click="resetItems(item,$event)"><i class="bi bi-arrow-repeat"></i></button>
                                <i class="bi bi-circle pe-2"
                                  v-if="!getItemCompleted(item) && !item.updated && !item.process"></i>
                                <i class="bi bi-circle-fill pe-2"
                                  v-if="!getItemCompleted(item) && item.updated && !item.process"></i>
                                <i class="bi bi-circle text-info pe-2"
                                  v-if="!getItemCompleted(item) && item.updated && item.process"></i>
                                <i class="bi bi-check-circle pe-2"
                                  v-if="getItemCompleted(item) && !item.updated && !item.process"></i>
                                <i class="bi bi-check-circle-fill pe-2"
                                  v-if="getItemCompleted(item) && item.updated && !item.process"></i>
                                <i class="bi bi-check-circle-fill text-info pe-2"
                                  v-if="getItemCompleted(item) && item.updated && item.process"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </template>
                    </div>
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>
        <div class="card-footer bg-light text-center p-3">
          <button v-show="!data.status" type="button" @click="submitForm()" :disabled="!getAllCompleted()"
            class="btn col-12 col-sm-6 btn-primary"><span v-if="!getAllCompleted()">...</span><span
              v-else>Submit</span></button>
          <button v-show="data.status" type="button" onclick="closeForm()"
            class="btn col-12 col-sm-6 btn-primary">Close</button>
        </div>
      </div>
      <!-- Optional JavaScript; choose one of the two! -->
      <!-- Option 1: Bootstrap Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
      <script src="https://unpkg.com/vue@3.2.31/dist/vue.global.prod.js"></script>
      <script src="script.js"></script>
      <script src="module.js"></script>
      <script>

        var payload = [];
        var list = [];
        var metadata = [];
        var findings;
        var alert_id = 0;
        var alert = Vue.createApp(alert_mod).mount("#alert");
        var checklist = Vue.createApp(form_mod).mount("#check");
        var form = Vue.createApp(checklist_mod).mount("#form");

        var param;
        var dux = "com.infor.eam.dux://open?sr=WSJOBS&ds=100156&name=workordernum&value=";
        var gas = "https://script.google.com/macros/s/AKfycbzSznniNEh_L5YP4ESIrZVkvY0U6NCy3_0bnpnGBt6_uUWeUfcM3W6X9MrBX3y7hOi82w/exec";

        function build_form(input) {
          var new_state = list.filter(function (e) { return e['ock_code'] == input })[0].state;
          if (new_state === 'Pre-Trip') { new_state = 'PRE' }
          if (new_state === 'Post-Trip') { new_state = 'POST' }
          var new_data = payload.filter(function (e) { return e['ock_code'] == input });
          if (new_state !== '') { new_data = new_data.filter(function (e) { return e['ack_reference'] == new_state }) }
          new_data.forEach(function (e) {
            form.addItems(e);
          });

          form.loaded = true;
          checklist.form = true;
        }

        function loadmetadata(input) {
          var def = payload.filter(
            function (e) { return ['Unit/Fleet No', 'Registration No', 'Worker Name'].indexOf(e.ack_desc) != -1 && e.ock_status == 'U' }).filter(
              function (e) {
                if (e['ack_desc'] === 'Registration No' && e['ack_freetext'] !== e['obj_udfchar39']) { return e }
                if (e['ack_desc'] === 'Unit/Fleet No' && e['ack_freetext'] !== e['obj_udfchar16']) { return e }
                if (e['ack_desc'] === 'Worker Name' && e['ack_freetext'] !== param.userid) { return e }
              });
          if (def.length != 0) {
            def.map(
              function (e) { return e.ack_code }).forEach(
                function (e) { document.getElementById('REFRESH' + e).click() })
          }
          var time = payload.filter(
            function (e) {
              return e.ack_desc === 'Date'
                && e.ack_checklistdatetime === ''
                && e.ack_reference == input.reference
                && e.ock_code == input.ock_code
                && e.ock_status == 'U'
            });
          if (time.length != 0) {
            time.map(
              function (e) { return e.ack_code }).forEach(
                function (e) {
                  var input_time = document.getElementById('FREE' + e);
                  input_time.value = (new Date()).toJSON().substring(0, 16);
                  var evt = new Event('input');
                  input_time.dispatchEvent(evt)
                })
          }
        }

        function build_new_form() {
          checklist.loaded = false;
          var req_param = gas + '?process=add_checklist&tenant=' + param.tenant + '&organization='
            + param.organization + '&equipmentno=' + param.equipmentno;
          if (param.userid !== undefined && param.userid !== '') { req_param = req_param + '&userid=' + param.userid }
          var new_req = new Request(req_param, {
            redirect: "follow",
            method: 'POST',
            headers: {
              "Content-Type": "text/plain;charset=utf-8",
            },
          });
          fetch(new_req)
            .then(function (response) {
              return response.json();
            })
            .then(function (data) {
              if (data.status != undefined && data.status === false) {
                alert.add({
                  text: data.text,
                  type: 'error'
                })
              }
              else { location.reload() }
            })
        }

        function closeForm() { location.reload() }

        function send_form(input) {
          checklist.loaded = false;
          form.loaded = false
          payload.filter(
            function (e) {
              return e.ack_desc === 'Date'
                && e.ack_reference == input.reference
                && e.ock_code == input.ock_code
            }).map(
              function (e) { return e.ack_code }).forEach(
                function (e) {
                  var input_time = document.getElementById('FREE' + e);
                  input_time.value = (new Date()).toJSON().substring(0, 16);
                  var evt = new Event('input');
                  input_time.dispatchEvent(evt)
                });
          var check = function () {
            if (form.getAllCompleted()) {
              if (input.reference == 'PRE') { location.reload() }
              else {
                var payload = {
                  'tenant': param.tenant,
                  'chkcode': input.ock_code,
                  'chktype': 'OPCK',
                  'chkdataone': 'C',
                  'chkdatatwo': '',
                  'chkdatanot': '',
                  'chkdatanotes': '',
                  'userid': param.userid
                }

                var upd_checklist_req = new Request(gas + '?process=upd_checklist', {
                  redirect: "follow",
                  method: 'POST',
                  body: JSON.stringify(payload),
                  headers: {
                    "Content-Type": "text/plain;charset=utf-8",
                  },
                });

                fetch(upd_checklist_req)
                  .then(function (response) {
                    return response.json();
                  })
                  .then(function (data) {
                    if (data.status != undefined && data.status === false) {
                      alert.add({
                        text: data.text,
                        type: 'error'
                      })
                    }
                    else { location.reload() }
                  });
              }
            }
            else { setTimeout(check, 250) }
          }
          check();
        }



        (function () {
          param = getAllUrlParams();
          if (param.equipmentno == undefined || param.equipmentno == '' || param.organization == undefined || param.organization == '' || param.tenant == undefined || param.tenant == '') {
            alert.add({
              text: 'incomplete request',
              type: 'error'
            });
            form.broken = true;
            checklist.broken = true;
          }
          else if (['TAS', 'WAU', 'NWA', 'WAR', 'SAU', 'VIC', 'NSW'].indexOf(param.organization) == -1) {
            alert.add({
              text: 'This function not applicable for this organization',
              type: 'error'
            });
            form.broken = true;
            checklist.broken = true;
          }
          else {
            fetch(updateUrl(gas, param))
              .then(function (response) {
                return response.json();
              })
              .then(function (data) {
                if (data.status != undefined && data.status === false && data.text !== 'query returns null') {
                  alert.add({
                    text: data.text,
                    type: 'error'
                  });
                  form.broken = true;
                  checklist.broken = true;
                }
                else {
                  if (data.text === 'query returns null') { data = [] }
                  data = data.filter(function (e) { return e['ock_code'] != undefined });
                  data.forEach(function (e) {
                    if (e['ack_value'] != undefined) { e['ack_value'] = e['ack_value'].replaceAll(',', '') }
                  });
                  payload = payload.concat(data);
                  var reform = payload.map(function (e) {
                    var rep = {};
                    rep['obj_org'] = e['obj_org'];
                    rep['obj_code'] = e['obj_code'];
                    rep['obj_desc'] = e['obj_desc'];
                    rep['obj_udfchar39'] = e['obj_udfchar39'];
                    rep['ock_status'] = e['ock_status'];
                    rep['ock_status_desc'] = e['ock_status_desc'];
                    rep['trunc_ock_startdate'] = e['trunc_ock_startdate'];
                    rep['ock_code'] = e['ock_code'];
                    return rep
                  });
                  var new_ref = [...new Map(reform.map(item =>
                    [item['ock_code'], item])).values()];

                  if (new_ref.length > 0) {
                    new_ref.forEach(function (e) {
                      if (e['ock_status'] == 'U') {
                        var req = payload.filter(function (f) { return f['ack_requiredtoclose'] === 'YES' && f['ock_code'] === e['ock_code'] });
                        var req_pre = req.filter(function (f) { return f['ack_reference'] === 'PRE' && f['ock_code'] === e['ock_code'] });
                        var req_post = req.filter(function (f) { return f['ack_reference'] === 'POST' && f['ock_code'] === e['ock_code'] });
                        var current_pre = req_pre.filter(function (f) {
                          if (f['ack_type'] == '01' && f['ack_completed'] != undefined && f['ack_completed'] != '-') { return f }
                          if (f['ack_type'] == '02' && f['ack_yes'] != undefined && f['ack_no'] != undefined) { return f }
                          if (f['ack_type'] == '03' && f['ack_finding'] != undefined) { return f }
                          if (f['ack_type'] == '04' && f['ack_value'] != undefined) { return f }
                          if (f['ack_type'] == '13' && f['ack_checklistdate'] != undefined) { return f }
                          if (f['ack_type'] == '14' && f['ack_checklistdatetime'] != undefined) { return f }
                          if (f['ack_type'] == '15' && f['ack_freetext'] != undefined) { return f }
                        });
                        if (current_pre.length == req_pre.length) {
                          e['state'] = 'Post-Trip'
                        } else { e['state'] = 'Pre-Trip' }
                      } else {
                        e['state'] = ''

                      }
                    })
                  }
                  list = list.concat(new_ref);
                  new_ref.forEach(function (e) {
                    checklist.addItems(e);
                  });

                  checklist.loaded = true;
                }
              });
            var findings_req = new Request(gas + '?process=get_findings&tenant=' + param.tenant, {
              redirect: "follow",
              method: 'POST',
              headers: {
                "Content-Type": "text/plain;charset=utf-8",
              },
            });
            fetch(findings_req)
              .then(function (response) {
                return response.json();
              })
              .then(function (data) {
                if (data.status != undefined && data.status === false) {
                  alert.add({
                    text: data.text,
                    type: 'error'
                  })
                }
                else {
                  findings = data;
                }
              })
            var meta_req = new Request(gas + '?process=get_metadata&tenant=' + param.tenant, {
              redirect: "follow",
              method: 'POST',
              headers: {
                "Content-Type": "text/plain;charset=utf-8",
              },
            });
            fetch(findings_req)
              .then(function (response) {
                return response.json();
              })
              .then(function (data) {
                if (data.status != undefined && data.status === false) {
                  alert.add({
                    text: data.text,
                    type: 'error'
                  })
                }
                else {
                  findings = data;
                }
              })
          }
        })();
      </script>
</body>

</html>