.container {
  max-width: 960px !important;
}

.pre-line {
  white-space: pre-line;
}

#form-container {
  min-height: 75vh;
  display: block;
}

.opacity-80 {
  opacity: 0.8 !important;
}

.opacity-85 {
  opacity: 0.85 !important;
}

.opacity-90 {
  opacity: 0.9 !important;
}

.opacity-95 {
  opacity: 0.95 !important;
}

.min-vh-95 {
  min-height: 95vh !important;
}

.min-vh-90 {
  min-height: 90vh !important;
}

.min-vh-80 {
  min-height: 80vh !important;
}

.min-vh-85 {
  min-height: 85vh !important;
}

.min-vh-75 {
  min-height: 75vh !important;
}

.min-vh-50 {
  min-height: 50vh !important;
}

.big {
  font-size: 10rem;
}

.big-2 {
  font-size: 8rem;
}

.big-3 {
  font-size: 6rem;
}

.big-4 {
  font-size: 4rem;
}

.big-5 {
  font-size: 2rem;
}

.form-static.accordion-button::after {
  background-image: none;
}

.btn-rounded {
  border-radius: 1rem;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='currentColor'%3e%3cpath fill-rule='evenodd' d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='currentColor'%3e%3cpath fill-rule='evenodd' d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3e%3c/svg%3e");
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: var(--bs-dark);
  background-color: var(--bs-gray-200);
}

.btn-outline-info:hover {
  color: var(--bs-light);
}

textarea {
  resize: none;
  overflow: hidden;
}